<div class="main-container">
	<div class="container-fluid">
	<nav class="navbar navbar-green padding-sides">
		<ul id="profile-nav" class="nav right navbar-nav">
			<%if @user %>
				<li>
					<img src="<%=@user.image%>" class="img-circle avatar" alt="">
				</li>
				<li><span><%=@user.name%></span></li>
				<li><span><%=@user.email%></span></li>
			<%end%>
			<li>
				<a class="btn btn-danger navbar-right" href="/signout">Cerrar Sesión</a>
			</li>
		</ul>
	</nav>
</div>
</div>
