<div class="main-container">
	<div class="container-fluid">
		<div class="ml-header">
			<div class="ml-header-inner">
				<ul id="profile-nav" class="nav navbar-nav">
					<%if @user %>
						<li class="padding-sides">
							<img src="<%=@user.image%>" class="img-circle avatar" alt="">
						</li>
						<li class="dropdown">
							<a id="dLabel2" data-toggle="dropdown" aria-haspopup="true" class="label label-info" aria-expanded="false"><span><%=@user.name%></span></a>
							<div class="dropdown-menu" aria-labelledby="dLabel2">
								<div class="form-group">
									<a class="btn btn-danger" href="/signout">Cerrar Sesión</a>	
								</div>
								<div class="form-group">
									<a class="btn btn-danger" href="/signout">Cerrar Sesión</a>	
								</div>					
							</div>
						</li>
					<%end%>
				</ul>
				<%= form_tag("/users", method: "post", :class => "navbar-form navbar-left", :role => "search") do %>
					<div class="form-group">
			          <input type="text" style="width:200px"class="form-control" placeholder="¿Que servicio necesitas?">
			        </div>
			        <button type="submit" class="btn btn-info">Buscar</button>
				<%end%>
			</div>
		</div>
		<div id="main" class="padding-top-100">
			<div class="explore">
				<div class="explore-header">
					<h1>!Encuentra lo que buscas!</h1>
					<h5>Hay miles de servicios, las mejores personas y los precios más bajos.</h5>
				</div>
				<div id="categories" class="explore-content">
					<section class="responsive-bg no-gradient" id="top-categories">
  						<div class="content-width">
    						<h2 class="t-header-secondary t-call-to-action">Top Categories</h2>
    						<hr/>
	    						<div class="l-columns l-three-columns">
	      							<ul class="col-md-4 col-sm-4 col-xs-12">
										<li>
											<a href="/category.Additions-Remodeling.12001.html" data-oid="-12001">
											    
											            <span class="icon-container">
											              <i class="icon icon_additions-remodels"></i>
											            </span>
											  Additions &amp; Remodels
											</a>
										</li>
										<li>
											<a href="/category.Appliances.12003.html" data-oid="-12003">
											    
											            <span class="icon-container">
											              <i class="icon icon_appliances"></i>
											            </span>
											  Appliances
											</a>
										</li>
										<li>
											<a href="/category.Builders-New-Homes-Architects-Designers.10203.html" data-oid="-10203">
											    
											            <span class="icon-container">
											              <i class="icon icon_architects-engineers"></i>
											            </span>
											  Architects &amp; Engineers
											</a>
										</li>
										<li>
											<a href="/category.Bathroom.13002.html" data-oid="-13002">
											    
											            <span class="icon-container">
											              <i class="icon icon_bathrooms"></i>
											            </span>
											  Bathrooms
											</a>
										</li>
										<li>
											<a href="/category.Cabinets-Countertops.10542.html" data-oid="-10542">
											    
											            <span class="icon-container">
											              <i class="icon icon_cabinets-countertops"></i>
											            </span>
											  Cabinets &amp; Countertops
											</a>
										</li>
										<li>
											<a href="/category.Carpentry.10543.html" data-oid="-10543">
											    
											            <span class="icon-container">
											              <i class="icon icon_carpentry"></i>
											            </span>
											  Carpentry
											</a>
										</li>
										<li>
											<a href="/category.Carpet.10313.html" data-oid="-10313">
											    
											            <span class="icon-container">
											              <i class="icon icon_carpet"></i>
											            </span>
											  Carpet
											</a>
										</li>
										<li>
											<a href="/category.Cleaning-Maid-Services.12014.html" data-oid="-12014">
											    
											            <span class="icon-container">
											              <i class="icon icon_cleaning-maid-service"></i>
											            </span>
											  Cleaning &amp; Maid Service
											</a>
										</li>
										<li>
											<a href="/category.Concrete-Brick-Stone.10206.html" data-oid="-10206">
											    
											            <span class="icon-container">
											              <i class="icon icon_concrete-brick-stone"></i>
											            </span>
											  Concrete, Brick &amp; Stone
											</a>
										</li>
										<li>
											<a href="/category.Decks-Porches-Gazebos-Play-Equipment.10345.html" data-oid="-10345">
											    
											            <span class="icon-container">
											              <i class="icon icon_decks-porches"></i>
											            </span>
											  Decks &amp; Porches
											</a>
										</li>
									</ul>
									<ul class="col-md-4 col-sm-4 col-xs-12">
										<li>
											<a href="/category.Driveways-Patios-Walks-Steps-and-Floors.10288.html" data-oid="-10288">
											    
											            <span class="icon-container">
											              <i class="icon icon_driveways-patios-walks-steps"></i>
											            </span>
											  Driveways, Patios &amp; Walks
											</a>
										</li>
										<li>
											<a href="/category.Drywall-Insulation.10407.html" data-oid="-10407">
											    
											            <span class="icon-container">
											              <i class="icon icon_drywall-insulation"></i>
											            </span>
											  Drywall &amp; Insulation
											</a>
										</li>
										<li>
											<a href="/category.Electrical-Telephone-Computers.10207.html" data-oid="-10207">
											    
											            <span class="icon-container">
											              <i class="icon icon_electrical-computers"></i>
											            </span>
											  Electrical &amp; Computers
											</a>
										</li>
										<li>
											<a href="/task.Fencing-Install-Repair.61740.html" data-oid="61740">
											    
											            <span class="icon-container">
											              <i class="icon icon_fences"></i>
											            </span>
											  Fences
											</a>
										</li>
										<li>
											<a href="/category.Flooring.10208.html" data-oid="-10208">
											    
											            <span class="icon-container">
											              <i class="icon icon_flooring-hardwood"></i>
											            </span>
											  Flooring &amp; Hardwood
											</a>
										</li>
										<li>
											<a href="/category.Garages-Doors-Openers.10552.html" data-oid="-10552">
											    
											            <span class="icon-container">
											              <i class="icon icon_garages-doors-openers"></i>
											            </span>
											  Garages, Doors, Openers
											</a>
										</li>
										<li>
											<a href="/task.Handyman-for-Multiple-Small-Projects.39794.html" data-oid="39794">
											    
											            <span class="icon-container">
											              <i class="icon icon_handyman-services"></i>
											            </span>
											  Handyman Services
											</a>
										</li>
										<li>
											<a href="/category.Heating-Cooling.10211.html" data-oid="-10211">
											    
											            <span class="icon-container">
											              <i class="icon icon_heating-cooling"></i>
											            </span>
											  Heating &amp; Cooling
											</a>
										</li>
										<li>
											<a href="/category.Kitchen.13001.html" data-oid="-13001">
											    
											            <span class="icon-container">
											              <i class="icon icon_kitchens"></i>
											            </span>
											  Kitchens
											</a>
										</li>
										<li>
											<a href="/category.Landscape-Decks-Fences.10212.html" data-oid="-10212">
											    
											            <span class="icon-container">
											              <i class="icon icon_landscape"></i>
											            </span>
											  Landscape
											</a>
										</li>
									</ul>
									<ul class="col-md-4 col-sm-4 col-xs-12">
										<li>
											<a href="/category.Lawn-Care-Garden.10591.html" data-oid="-10591">
											    
											            <span class="icon-container">
											              <i class="icon icon_lawncare-sprinklers"></i>
											            </span>
											  Lawncare &amp; Sprinklers
											</a>
										</li>
										<li>
											<a href="/category.Painting-Staining.10215.html" data-oid="-10215">
											    
											            <span class="icon-container">
											              <i class="icon icon_painting-staining"></i>
											            </span>
											  Painting &amp; Staining
											</a>
										</li>
										<li>
											<a href="/category.Plumbing.10216.html" data-oid="-10216">
											    
											            <span class="icon-container">
											              <i class="icon icon_plumbing"></i>
											            </span>
											  Plumbing
											</a>
										</li>
										<li>
											<a href="/category.Additions-Remodels.10201.html" data-oid="-10201">
											    
											            <span class="icon-container">
											              <i class="icon icon_remodels"></i>
											            </span>
											  Remodels
											</a>
										</li>
										<li>
											<a href="/category.Roofing-Siding-Gutters.10217.html" data-oid="-10217">
											    
											            <span class="icon-container">
											              <i class="icon icon_roofing-gutters"></i>
											            </span>
											  Roofing &amp; Gutters
											</a>
										</li>
										<li>
											<a href="/task.Siding-Installation-Repair.40882.html" data-oid="40882">
											    
											            <span class="icon-container">
											              <i class="icon icon_siding"></i>
											            </span>
											  Siding
											</a>
										</li>
										<li>
											<a href="/category.Swimming-Pools-Spas-Hot-Tubs-Saunas.10520.html" data-oid="-10520">
											    
											            <span class="icon-container">
											              <i class="icon icon_swimming-pools-spas-saunas"></i>
											            </span>
											  Swimming Pools &amp; Spas
											</a>
										</li>
										<li>
											<a href="/category.Walls-Ceilings.10219.html" data-oid="-10219">
											    
											            <span class="icon-container">
											              <i class="icon icon_walls-ceilings"></i>
											            </span>
											  Walls &amp; Ceilings
											</a>
										</li>
										<li>
											<a href="/category.Windows-Doors.10220.html" data-oid="-10220">
											    
											            <span class="icon-container">
											              <i class="icon icon_windows-doors"></i>
											            </span>
											  Windows &amp; Doors
											</a>
										</li>
										<li>
											<a href="/category.Windows-Doors.10220.html" data-oid="-10220">
											    
											            <span class="icon-container">
											              <i class="icon icon_windows-doors"></i>
											            </span>
											  Windows &amp; Doors
											</a>
										</li>
    								</ul>
	    						</div>
    						<hr/>
  						</div>
					</section>
				</div>
				<div class="explore-footer"></div>
			</div>
		</div>
	</div>
</div>
