<div class="main-container">
	<div class="container-fluid">
		<div class="ml-header">
			<div class="ml-header-inner">
				<ul id="profile-nav" class="nav navbar-nav">
					<%if @user %>
						<li class="padding-sides">
							<img src="<%=@user.image%>" class="img-circle avatar" alt="">
						</li>
						<li class="dropdown">
							<a id="dLabel2" data-toggle="dropdown" aria-haspopup="true" class="label label-info" aria-expanded="false"><span><%=@user.name%></span></a>
							<div class="dropdown-menu" aria-labelledby="dLabel2">
								<div class="form-group">
									<a class="btn btn-danger" href="/signout">Cerrar Sesión</a>	
								</div>
								<div class="form-group">
									<a class="btn btn-danger" href="/signout">Cerrar Sesión</a>	
								</div>					
							</div>
						</li>
					<%end%>
				</ul>
			</div>
		</div>
		<div id="main" class="padding-top-50">
			<div class="explore">
				<div class="explore-header">
					<h1>!Encuentra lo que buscas!</h1>
					<h5>Hay miles de servicios, las mejores personas y los precios más bajos.</h5>
				</div>
				<div class="explore-content"></div>
				<div class="explore-footer"></div>
			</div>
		</div>
	</div>
</div>
