/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require superhero-bootstrap.min
 *= require font-awesome.min
 *= require socials
 */
body{
	font-size: 16px;
}
.top{
	position: absolute;
	right: 50px;
	top: 0;
}
.padding-sides{
	padding: 0 10px;
}
.right{
	float: right;
}
.ml-header {
    background-color: teal;
    border-bottom: 1px solid black;
    height: 54px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.ml-header-inner {
    margin: 0 auto;
    max-width: 1200px;
    padding: 7px 10px;
    position: relative;
    z-index: 1000;
}
.jumbotron{
	background-color: transparent;
	color: #5c5954;
	margin-bottom: 0;
}
.dropdown-menu{
	background-color: transparent;
}
.top-box {
  background-color: #fff;
  background-color: rgba(255,255,255,0.92);
  padding: 35px 50px 45px;
  margin: 0 auto;
  max-width: 700px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.18);
}
.main-container{
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
}
[login]{
	margin-top: 5px;
}
.navbar{
	margin-bottom: 0;
}
.navbar-default{
	background-color: transparent;
}
.navbar-green {
  background-color: darkcyan;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #5cb85c;
}
#dLabel:hover{
	background-color:#449d44;
}
.margin-auto{
	margin: 0 auto;
}
.margin-bottom-sm{
	margin-bottom: 10px;
}
.margin-bottom-m{
	margin-bottom: 20px;
}
.margin-vertical{
	margin: 15px 0;
}
.vertical-space-20 {
  height: 20px;
  width: 1px;
}
.section-padding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#header{
	background-image: url("bg-top.jpg");
	background-repeat: no-repeat;
	margin: 0;
}
.btn-social{	
	padding-bottom: 11px;
}
#howitwork{
	background-color: #383838;
}

#services{
	color: #3b3b3b;
	background-color: #f7f7f7;
}
#footer{
	background-color: #383838;
	line-height: 1.5rem;
}
.tag-cloud{
	background-color:#2980b9;
	color:white;
	text-align:center;
	white-space:nowrap;
	display:inline-block;
	position:relative;
	padding:.3rem 0.6rem 0.25rem .4rem;
	font-size:1.3rem;
	margin:.4rem .25rem .4rem .25rem
}
.green1{background-color:#2ba700}
.green2{background-color:#247302}
.green3{background-color:#154f00}
.gray{background-color:#383838}
.gray-secondary {
  color: #595959;
}
.gray-secondary-light {
  color: gray;
}
.gray-primary {
  color: #3b3b3b;
}
.white-primary {
  color: #f7f7f7;
}
.consumer-green{background-color:#2ba700;border:solid 1px;border-color:white}
.mini-icon{margin-bottom:3px}

.avatar{
	width: 42px;
	height: 42px;
}
#profile-nav li {

}

@media (max-width: 768px) {
	[login]{
		margin-bottom: 10px;
	}
}