
	<div class="container">
		<div class="jumbotron">
			<h1>TELO<strong>TENGO</strong></h1>
			<p>
				agenda, cotiza, paga... todo desde tu celular.
				La aplicación para agendar servicios profesionales modernos
			</p>
				<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Únete</button>
				<!-- <button type="button" class="btn btn-success btn-lg" data-target="/pro">Ofrece servicios</button> -->
		</div>
	</div>

	<!-- Modal -->
	<div class="modal" id="myModal">
	    <div class="modal-dialog">
			<div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		          <h4 class="modal-title center">Únete</h4>
		        </div>
		        <div class="modal-body" style="width:75%; margin:0 auto">
		        	<form action="/users" method="post" class="form-horizontal">
			        	<div class="form-group">
							<div class="input-group margin-bottom-sm">
							<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
							<input class="form-control" type="text" name="name" placeholder="Nombre">
							</div>	
							<div class="input-group margin-bottom-sm">
							<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
							<input class="form-control" type="text" name="email" placeholder="Email">
							</div>
							<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
							<input class="form-control" name="password"type="password" placeholder="Contraseña">
							</div>				  
						</div>
						<div class="form-group">
							<a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
						    	<i class="fa fa-facebook"></i>Regístrate con Facebook
						    </a>
						   	<a href="/auth/twitter" class="btn btn-block btn-social btn-twitter">
						    	<i class="fa fa-twitter">
						    		
						    	</i>Regístrate con Twitter
						    </a>
						</div>   
						<!-- <button type="submit" class="btn btn-primary">Enviar</button>  -->
					</form>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		          <button type="submit" class="btn btn-primary">Enviar</button>
		        </div>
	      	</div>
	    </div>
	</div>	
	<!-- Modal -->

<div class="container text-center">
	<%if @user %>
		<img src="<%=@user.image%>" alt="">
		<h1><%=@user.name%></h1>
		<h2><%=@user.email%></h2>
	<%end%>
	<a class="btn btn-danger" href="/signout">Cerrar Sesión</a>
</div>